entrypoint = "README.md"

run = "sh ./startup.sh"	 # The .sh script that runs the MySQL server and FastAPI app

hidden = [
	"startup.sh",
	"sql_data",
	".git",
	"__pycache__",
	"**/__pycache__", "**/.mypy_cache", "**/*.pyc",
	".venv"
]

language = "python"

[env]
VENV_PATH = "/home/runner/${REPL_SLUG}/.venv"  # Path of python venv [https://docs.python.org/3/library/venv.html]
MYSQL_HOME = "/home/runner/${REPL_SLUG}/sql_data"  # Path of mysql installation
APP_DIR_NAME = "app"  # Name of the folder containing the FastAPI and main.py files

[nix]
channel = "stable-22_11"